
@model IEnumerable<Department>
@{
    ViewData["Title"] = "All DepartMents";
}

<div class="bg-light border rounded shadow shadow-sm p-3">
    @if(TempData["Message"] is not null)
    {
        <div id="MessageDiv" class="alert alert-success">
            @TempData["Message"]
        </div>

    }
    <h1 class="text-center">All Departmrnts</h1>
 <a asp-action="create" class="btn btn-success mb-3">Create New Department</a>
@if(Model.Count() > 0)
{
    
<table class="table tabble-striped table-hover">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(d=>d.Code)</th>
            <th>@Html.DisplayNameFor(d=>d.Name)</th>
            <th>@Html.DisplayNameFor(d=>d.DateOfCreation)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var department in Model)
            {
                
            <tr>
                <td>@department.Code</td>
                <td>@department.Name</td>
                <td>@department.DateOfCreation</td>
       
                <partial name="_ButtonsParialView" model="@department.Id" />

            </tr>
            }
    </tbody>
    </table>

}else
{
    <div class="mt-4 alert alert-warning text-center">

    <h2 > There Is No Departments </h2>
    </div>
}
</div>

<script type="text/javascript">
    $(function () {
        $('#message').hide(1000);
    });
</script>
